/* sets up entire page and allows use of grids */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
   background-image: url(./cadillacBackground.jpeg);
   background-size: cover;
   background-repeat: no-repeat;
}

#logo {
   height: 70px;
   width: 70px;
   margin-left: 3px;
   /* justify-self: start; */
}

/* navbar container/background */
.nav-container {
  width: 100%;
  background-color: white;
}

.navbar {
  display: grid;
  grid-template-columns: 0.2fr auto 1fr;
  align-items: center;
  height: 80px;
  width: 90%;
  max-width: 1720px;
  margin: 0 auto;
}

/* logo css (maybe add image later) */
/* #navbar-logo {
  color: white;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
} */

/* basic navbar items (home, inventory, etc) */
.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  list-style: none;
  text-align: center;
  width: 70%;
  justify-self: end;
  float: left;
  position: relative;
}

.nav-links {
  color: #36454f;
  text-decoration: none;
}

.nav-links:hover {
  color: #6e0a1e;
  transition: all 0.2s ease-out;
}

/* hamburger menu for mobile screens */
.menu-toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: #36454f;
}

nav ul li a {
   display: block;
   

}
nav ul li {
   float: left;
   list-style: none;
   position: relative;

}

 #inventory-menu li {
   width: 100%;
   
 }

 #inventory-menu li a{
   padding: 8px 10px;
 }

 #inventory-menu li a:hover{
   background-color: #00458e;
   color: white;

 }
/* toggles dropdown memnu*/
#inventory-menu {
   display: none;
   position: absolute;
   background-color: white;
   padding: 10px;
   width: 100px;
   border-radius: 0 0 10px 10px;
   margin-left: 20px;
 }

 #inventory-menu.inv-active {
   display: block;
   background: white;
   color: #36454f;
   left: 0;
   opacity: 1;
   transition: all 0.5s ease;
 }

/* mobile screen view */
@media screen and (max-width: 768px) {
  .nav-container {
    position: relative;
  }

  /* hides nav menu */
  .nav-menu {
    display: grid;
    grid-template-columns: auto;
    background: #6e0a1e;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
  }

  #navbar-logo {
    margin-left: 20px;
  }

  /* shows nav menu */
  .nav-menu.active {
    background: #36454f;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-links {
    text-align: center;
    line-height: 60px;
    width: 100%;
    display: table;
    color: white;
  }
  .nav-links:hover {
    background: #6e0a1e;
    color: white;
    transition: all 0.4s ease-out;
  }
  .navbar {
     width: 100%
  }
  #mobile-menu {
     position: absolute;
     top: 20%;
     right: 5%;
     transform: translate(5%, 20%);
  }
  .menu-toggle .bar {
     display: block;
     cursor: pointer;
  }

  .menu-toggle:hover {
     cursor: pointer
  }

  /* changes hamburger into an X */
  #mobile-menu.is-active .bar:nth-child(2) {
     opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
   transform: translateY(8px) rotate(45deg);
   }

   #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
   }
 
   /* toggles inventory dropdown on small screen */
    #inventory-menu {
      display: grid;
      grid-template-columns: auto;
      background: #6e0a1e;
      margin: 0;
      width: 100%;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 0;
      transition: all 0.5s ease;
    }
   
    #inventory-menu.inv-active {
      background: #36454f;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      margin-top: 100px;
    }
    .clearfix {
      overflow: auto;
    }
}
